# ===== قاعدة البيانات (من Neon) =====
DATABASE_URL=postgresql://neondb_owner:npg_2iV1OJtmZoXW@ep-muddy-sunset-ayv021an-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ===== المفتاح السري لتشفير الجلسات =====
JWT_SECRET=ضع-مفتاح-سري-طويل-وعشوائي-هنا

# ===== Cloudinary (صور وفيديوهات) =====
CLOUDINARY_CLOUD_NAME=r36asm3i
CLOUDINARY_API_KEY=986366263161223
CLOUDINARY_API_SECRET=NiXqgjZCLxQHE3k7cpQTZJfMS5s
